.advantages {
  text-align: center;
  margin: 0 auto;

  &__wrapper {
    display: block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }

  &__item {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: var(--text-main);
    width: content-box;

    &--city {
      color: var(--text-accent);
      width: fit-content;
    }
    &--bridge {
      color: var(--text-accent);
      background-color: var(--main);
      width: fit-content;
    }
  }

  &__title {
    color: var(--text-main);
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    &--city {
      color: var(--text-accent);
    }
    &--bridge {
      color: var(--text-accent);
    }
  }

  &__sequence {
    color: var(--description);
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    &--city {
      color: var(--text-accent);
    }
    &--bridge {
      color: var(--text-accent);
    }
  }

  &__description {
    color: var(--description);
    &--city {
      color: var(--text-accent);
    }
    &--bridge {
      color: var(--text-accent);
    }
  }

  &__responsive {
    width: 100%;
    height: auto;
  }

  &__real-city {
    list-style: none;
    text-align: left;
    position: relative;
    margin-left: 69px;
    margin-bottom: 26px;
    margin-right: 19px;
    padding-left: 50px;
    background-color: var;
    color: var(--text-main);
  }

  &__subcity {
    background-color: var(--main);
  }
}
