@media (max-width: $mobile-width-only) {
  .advantages {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
    width: auto;
  }

  .advantages__wrapper {
    position: relative;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    &::before {
      display: block;
      position: absolute;
      top: -16px;
      left: 0;
      height: 37px;
      width: 100vw;
      content: "";
      background-image: url("../../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-size: 100vw;
    }
  }

  .advantages__list {
    list-style: none;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .advantages__item {
    //padding-bottom: 24px;
    border-bottom: 1px solid #d6d6d6;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }

    .advantages__item-wrap {
      height: auto;
    }

    &--city,
    &--bridge {
      padding-bottom: 0;
      color: $white;
      border-bottom: none;
      min-width: 320px;
      height: auto;
    }

    &--area {
      &:first-child {
        padding-bottom: 19px;

        .advantages__title {
          transform: translate(1px, -2px);
        }
      }

      &:nth-child(2) {
        padding: 7px 30px 22px 30px;
      }

      &:last-child {
        padding: 7px 15px 22px 15px;
      }
    }
  }

  .advantages__real-city {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: auto;
  }

  .advantages__item-title {
    text-align: center;
    box-sizing: border-box;
    background-color: $halfbaked;
    width: 100%;
    height: auto;
    padding: 55px 12px 39px 13px;

    &--bridge {
      padding: 39px 16px 35px 15px;
    }
  }

  .advantages__title {
    color: var(--text-main);
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;

    &--city,
    &--bridge {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 0;
      color: $white;
    }
  }

  .advantages__sequence {
    color: $mineshaft;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    &--city,
    &--bridge {
      color: $white;
      margin-top: 11px;
    }
  }

  .advantages__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: $mineshaft;
    margin: 0 auto;

    &--city,
    &--bridge {
      color: $white;
      margin-top: 17px;
    }
  }

  .advantages__responsive {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
  }

  .advantages__properties {
    background-color: $gallery;
    padding: 10px 20px 0 20px;
    list-style: none;

    .advantages__sequence {
      transform: translate(1px, -8px);
    }

    .advantages__description {
      transform: translate(1px, -5px);
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 0;
    margin: 0;
  }

  .advantages__title,
  .advantages__sequence,
  .advantages__description {
    padding: 0;
    margin: 0;
  }

  .advantages__item-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &--bridge {
      .advantages__item-title {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .advantages__image {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }
  }

  .advantages__item-title {
    background-color: $halfbaked;
    color: $white;
    text-align: center;
    padding: 0;
    margin: 0;

    &--city {
      padding: 40px 32px 44px 32px;
    }

    &--bridge {
      padding: 43px 36px 41px 36px;

      .advantages__title {
        padding: 0 18px 0 16px;
      }
    }
  }

  .advantages__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 13px;
  }

  .advantages__description {
    margin-top: 22px;
  }

  .advantages__sequence,
  .advantages__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }

  .advantages__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .advantages__image {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .advantages__responsive {
    display: block;
    width: 100%;
    height: 100%;
  }

  .advantages__real-city {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    min-height: 256px;
    list-style: none;
  }

  .advantages__properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 256px;
    text-align: center;
    background-color: $gallery;

    .advantages__item {
      .advantages__title {
        margin-bottom: 12px;
      }

      .advantages__description {
        margin-top: 22px;
      }

      &:first-child {
        padding: 42px 34px 63px 33px;
      }

      &:nth-child(2) {
        padding: 42px 48px 41px 46px;

        .advantages__description {
          padding: 0 10px;
          line-height: 22px;

          & span {
            padding-right: 3px;
          }
        }
      }

      &:last-child {
        padding: 42px 40px 42px 41px;

        .advantages__title {
          padding: 0 20px;
        }

        & span {
          word-break: keep-all;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 0;
    margin: 0;
  }

  .advantages__item-wrap {
    min-height: 256px;
  }

  .advantages__item-title {
    padding: 0;
    margin: 0;

    &--city {
      padding: 47px 52px 57px 53px;

      .advantages__title {
        padding: 0 48px 0 49px;
      }

      .advantages__description {
        padding: 1px 9px 0 8px;
      }
    }

    &--bridge {
      padding: 51px 78px 53px 79px;

      .advantages__title {
        & span {
          white-space: nowrap;
        }
      }

      .advantages__description {
        padding: 1px 10px 0 7px;

        & span {
          padding-left: 2px;
        }
      }
    }
  }

  .advantages__responsive {
    display: block;
    width: 100%;
    height: 256px;
  }

  .advantages__properties {
    .advantages__item {
      .advantages__title {
        margin-bottom: 13px;
      }

      .advantages__description {
        margin-top: 23px;
      }

      &:first-child {
        padding: 43px 43px 62px 42px;

        .advantages__title {
          padding: 0 50px;
        }
      }

      &:nth-child(2) {
        padding: 42px 54px 62px 54px;

        .advantages__title {
          padding: 0 60px;
        }
      }

      &:last-child {
        padding: 43px 55px 62px 55px;

        .advantages__title {
          padding: 0 80px;
        }

        & span {
          word-break: keep-all;
        }
      }
    }
  }
}
