.button {
  display: inline-block;
  padding: 16px 32px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  background-color: $halfbaked;

  &:hover {
    background-color: $fountainblue;
  }

  &:active {
    background-color: $steelblue;

    .button__link {
      opacity: 30%;
    }
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  background-color: $mercury;

  .button__link {
    opacity: 100%;
  }
}

.button__link {
  text-decoration: none;
  color: $white;
  margin: 0 15px;
}

@media (min-width: $tablet-width) {
  .button {
    padding: 16px 121px;
  }
}
