.city-sublist {
  list-style: none;
  background-color: var(--text-accent);
  color: var(--text-main);
  margin: 0;
}

@media (min-width: $tablet-width) {
  .city-sublist {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 330px;
  }
}

.city-sublist__item {
  display: block;
  position: relative;
  text-align: left;

  &::before {
    position: absolute;
    content: "";
    transform: translate(-51px, -8px);
    width: 40px;
    height: 37px;
    background-repeat: no-repeat;
  }

  &--home::before {
    background-image: url("../img/icon-house.svg");
    background-size: 39px 37px;
  }

  &--souvenirs::before {
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
  }

  &--food::before {
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
  }
}

@media (min-width: $tablet-width) {
  .city-sublist__item {
    width: calc(100% / 3);
    text-align: center;
    margin-top: 158px;
    margin-bottom: 59px;
    enable-background: new;

    &--home {
      order: 1;
    }

    &--food {
      order: 2;
    }

    &--souvenirs {
      order: 3;
    }

    &::before {
      position: absolute;
      content: "";
      width: 76px;
      height: 75px;
      background-repeat: no-repeat;
    }

    &--home::before {
      background-size: 75px 72px;
      background-position: 0 0;
      transform: translate(-50%, -100%);
    }

    &--food::before {
      background-size: 75px 72px;
      background-position: 0 0;
      transform: translate(-50%, -100%);
    }

    &--souvenirs::before {
      background-size: 75px 72px;
      background-position: 0 0;
      transform: translate(-50%, -100%);
    }
  }
}

.city-sublist__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 21px;
  padding: 0;
  color: var(--text-main);
}

@media (min-width: $tablet-width) {
  .city-sublist__title {
    font-size: 21px;
  }
}

.city-sublist__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--description);
}

@media (min-width: $tablet-width) {
  .city-sublist__description {
    font-weight: normal;
    padding: 0 10px;
    text-align: center;
  }
}
