.copyright {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: $black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  box-sizing: border-box;
  width: auto;
}

.copyright__htmlacademy-logo {
  transform: translate(-3px, 3px);

  &:hover,
  &:focus {
    fill: $halfbaked;
  }

  &:active {
    fill: $black;
    opacity: 30%;
  }
}

.copyright__text {
  padding: 0;
  padding-right: 15px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
