.feedback {
  padding: 0;
  margin: 0;
}

.feedback__form {
  padding-top: 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .feedback__form {
    padding: 0 160px;
    outline: 3px solid yellowgreen;
  }
}
