.form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto 42px;
  border-top: 1px solid var(--list-main);
}

.form__item {
  min-width: 320px;

  &--personal {
    min-width: 280px;
    border: none;
    margin: 18px auto 0;
    padding: 0 20px 4px;
    border-bottom: 1px solid var(--list-main);
  }

  &--contact {
    min-width: 280px;
    border: none;
    margin: 18px auto 0;
    padding: 0 20px;
    border-bottom: 1px solid var(--list-main);
  }

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  &--impression {
    min-width: 280px;
    border: none;
    margin: 20px auto 0;
    padding: 0 20px;
    border-bottom: 1px solid var(--list-main);
  }

  &--attraction {
    min-width: 280px;
    border: none;
    margin: 19px auto 0;
    padding: 0 20px;
    border-bottom: 1px solid var(--list-main);
  }

  &--textarea {
    display: flex;
    min-width: 280px;
    border: none;
    margin: 18px auto 40px;
  }
}

.form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  padding: 0;

  &--personal {
    margin-bottom: 19px;
  }

  &--contact {
    margin-bottom: 17px;
  }

  &--attraction {
    margin-bottom: 25px;
  }
}

.form__inner {
  display: flex;
  align-items: baseline;

  &--personal {
    margin: 10px 0 22px;
  }

  &--contact {
    flex-direction: column;
  }

  &--contact:last-child {
    margin-bottom: 24px;
  }

  &--impression {
    margin: 25px 0 43px;
  }

  &--attraction {
    margin: 19px 0 54px;
  }

  &--attraction:last-child {
    margin-bottom: 41px;
  }
}

.form__label {
  margin: 0;
  padding: 0;

  &--contact {
    padding: 15px 60px 15px 20px;
    margin-bottom: 6px;
  }

  &--impression {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: initial;
    margin-left: 78px;
    position: relative;
  }

  &--impression::before {
    content: "";
    position: absolute;
    left: -78px;
    top: -14px;
    width: 55px;
    height: 55px;
    border: 1px solid var(--list-main);
    background-color: var(--list-main);
    border-radius: 50%;
  }

  &--textarea {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
  }

  &--attraction {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
    margin-left: 78px;
    position: relative;
  }

  &--attraction::before {
    content: "";
    position: absolute;
    left: -78px;
    top: -14px;
    width: 55px;
    height: 55px;
    border: 1px solid var(--list-main);
    background-color: var(--list-main);
    border-radius: 10%;
  }
}

.form__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 51px;
  margin-bottom: 48px;
  padding: 16px 50px;
  border: none;
  color: var(--text-accent);
  background-color: var(--main);
}

.form__input {
  border: none;
  background-color: var(--input);
  padding: 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: var(--text-main);

  &--textarea::placeholder,
  &::placeholder {
    color: var(--text-main);
  }

  &--textarea {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    padding: 16px 19px;
    border: none;
    color: var(--text-main);
    background-color: var(--input);
  }

  &--personal {
    margin-left: 15px;
    min-width: 100px;
    flex-grow: 2;
  }

  &--contact {
    padding: 15px 60px 15px 20px;
    margin-bottom: 6px;
  }
}

.form__input[type="radio"]:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -61px;
  top: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--description);
  background-color: var(--description);
  border-radius: 50%;
}

.form__input[type="checkbox"]:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -61px;
  top: 6px;
  width: 55px;
  height: 55px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
