.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.form__item {
  line-height: 26px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid $mercury;
  width: 100%;
  margin: 0;
  padding: 0 20px 0 20px;

  &--personal {
    margin-top: 20px;
    padding-top: 19px;
    padding-bottom: 25px;
  }

  &--contact {
    margin-top: 20px;
    padding-top: 17px;
    padding-bottom: 28px;
  }

  &--impression {
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 31px;
  }

  &--attraction {
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  &--textarea {
    border-bottom: none;
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 51px;
  }
}

.form__title {
  font-size: 18px;
  font-weight: bold;
}

.form__label {
  font-size: 14px;
  font-weight: normal;
  padding-right: 13px;

  &--impression {
    font-weight: bold;
    text-transform: initial;
  }

  &--attraction {
    font-weight: bold;
    text-transform: initial;
  }

  &--textarea {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.form__inner {
  padding: 0;
  box-sizing: border-box;

  &--contact:not(:last-child) {
    margin-bottom: 14px;
  }

  &--personal {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__input {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 22px;
  height: 58px;
  width: 100%;
  border: 4px solid $concrete;
  background-color: $concrete;

  &::placeholder {
    color: $black;
    font-weight: bold;
  }

  &--personal {
    flex-grow: 1;
  }

  &--textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 160px;
    padding-top: 13px;
    padding-left: 21px;
    margin-top: 0;
    font-weight: bold;
  }
}

.form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 0 20px;
  margin: 0;
}

.form__button {
  display: inline-block;
  padding: 16px 32px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $white;
  background-color: $halfbaked;
  border: none;
  box-sizing: border-box;
  width: 100%;
  /*margin-bottom: 49px;*/
}

.form__required {
  visibility: hidden;
}

.desktop-tel {
  visibility: hidden;
}

@media (min-width: $tablet-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__item {
    &--personal {
      order: 2;
      width: 50%;
      height: auto;
      padding-top: 55px;
      margin-top: 0;
      margin-bottom: 47px;
      border-bottom: none;
    }

    &--contact {
      order: 3;
      width: 100%;
      padding-top: 21px;
    }

    &--impression {
      order: 1;
      width: 50%;
      height: auto;
      padding-top: 65px;
      margin-top: 42px;
      margin-bottom: 47px;
      padding-bottom: 88px;
      border-bottom: none;
    }

    &--attraction {
      order: 4;
      display: flex;
      flex-direction: row;
      padding-top: 59px;
    }

    &--textarea {
      order: 5;
      margin-bottom: 58px;
    }
  }

  .form__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form__submit {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .form__button {
    width: 50%;
  }

  .form__required {
    visibility: visible;
  }

  .form__title {
    &--personal {
      text-align: left;
      margin-left: 58px;
    }

    &--impression {
      text-align: left;
    }
  }

  .form__inner {
    &--personal {
      padding-left: 58px;
    }

    &--contact {
      text-align: left;
      margin-bottom: 25px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--impression {
      margin-bottom: 52px;
      text-align: left;
      padding-left: 75px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--attraction {
      width: 50%;
      margin-bottom: 52px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form__label {
    &--contact {
      margin-left: 22px;
    }
  }

  .form__input {
    &--contact {
      width: 100%;
      margin-top: 8px;
    }

    &--textarea {
      padding: 18px 24px 21px;
    }
  }

  .desktop-tel {
    visibility: hidden;
  }
}

@media (min-width: $desktop-width) {
  .form__item {
    &--contact {
      padding-top: 72px;
    }
  }

  .form__wrap {
    flex-wrap: nowrap;

    &--contact {
      justify-content: space-around;
      align-items: baseline;
    }
  }

  .form__title {
    &--personal {
      margin-left: 79px;
    }

    &--impression {
      text-align: left;
    }
  }

  .form__inner {
    &--personal {
      padding-left: 79px;
    }

    &--contact {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      width: 50%;

      &:first-child {
        padding-right: 80px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--impression {
      margin-bottom: 52px;
      text-align: left;
      padding-left: 75px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--attraction {
      width: 50%;
      margin-bottom: 52px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form__label {
    &--contact {
      margin-left: 0;
      margin-right: 16px;
      width: 70px;
    }

    &--contact[for="email"] {
      margin-right: 18px;
      width: 250px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .desktop-hidden {
    display: none;
    padding: 0;
    margin: 0;
  }
}
