.main-title {
  text-align: center;
  box-sizing: border-box;
  width: auto;
  padding: 0 15px 0 16px;
  margin: 22px 18px 13px 15px;

  &--form {
    text-align: center;
    padding: 0 22px 0 6px;
    margin: 36px auto 16px 14px;
    line-height: 24px;
    border-bottom: 1px solid $alto;
  }
}

.main-title__text {
  font-size: 18px;
  line-height: 26px;
  color: $black;
  margin-bottom: 31px;

  &--form {
    font-size: 18px;
    line-height: 26px;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 28px;
  }
}

.main-title__description {
  font-size: 14px;
  line-height: 26px;
  color: $mineshaft;

  &--form {
    margin-bottom: 17px;
    padding-left: 4px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .main-title {
    margin: 26px auto 40px auto;
    padding: 0;

    &--index {
      margin: 32px 85px 39px 85px;
    }

    &--form {
      margin: 62px 165px 68px 159px;
      border-bottom: none;
    }
  }

  .main-title__text {
    font-size: 21px;

    &--form {
      font-size: 30px;
      margin-bottom: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-title {
    padding: 0;
    margin: 42px 351px 43px 348px;

    &--form {
      margin: 111px 378px 31px 376px;
    }
  }

  .main-title__text {
    font-size: 21px;
    padding: 0;
    margin-bottom: 30px;

    &--form {
      font-size: 30px;
      margin-bottom: 33px;
    }
  }

  .main-title__description {
    padding: 0;
    margin: 0;
    margin-left: 2px;
  }
}
