.main-nav {
  order: -1;
  width: 100%;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 77px;
    background-color: $white;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    margin: 0 auto;
  }

  .main-nav__list {
    order: 1;
  }
}
