.main-title {
  text-align: center;
  box-sizing: border-box;
  width: auto;
  padding: 0 15px 0 15px;
  margin: 21px 18px 11px 17px;

  &--photo {
    text-align: center;
    padding: 0 12.5px 0 12.5px;
    margin: 32px 9px 20px 12px;
  }

  &--form {
    text-align: center;
    padding: 0 9px 0 9px;
    margin: 36px 6px 16px 8px;
    line-height: 24px;
    border-bottom: 1px solid $alto;
  }
}

.main-title__text {
  font-size: 18px;
  line-height: 26px;
  color: $black;
  margin-bottom: 31px;

  &--photo,
  &--form {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 28px;
  }
}

.main-title__description {
  font-size: 14px;
  line-height: 26px;
  color: $mineshaft;

  &--form {
    margin-bottom: 17px;
  }
}

@media (min-width: $tablet-width) {
  .main-title {
    margin: 26px auto 40px auto;
    padding: 0;

    &--index {
      margin: 32px 85px 40px 85px;
    }
  }

  .main-title__text {
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .main-title {
    margin: 44px 359px 27px 357px;
  }

  .main-title__text {
    font-size: 21px;
    padding: 0;
    margin-bottom: 30px;
  }
}
