.main-title {
  text-align: center;
  width: auto;
  padding: 0 15px 0 16px;
  margin: 22px 18px 13px 15px;

  &--form {
    text-align: center;
    padding: 0 22px 0 6px;
    margin: 36px auto 16px 14px;
    line-height: 24px;
    border-bottom: 1px solid $alto;
  }

  &--photo {
    text-align: center;
    width: auto;
    padding: 0 12.5px 0 12.5px;
    margin: 32px 9px 17px 12px;
  }
}

.main-title__text {
  font-size: 18px;
  line-height: 26px;
  color: $black;
  margin-bottom: 31px;

  &--form {
    font-size: 18px;
    line-height: 26px;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 28px;
  }

  &--photo {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 28px;
  }
}

.main-title__description {
  font-size: 14px;
  line-height: 26px;
  color: $mineshaft;

  &--form {
    margin-bottom: 17px;
    padding-left: 4px;
    line-height: 24px;
  }

  &--photo {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-title {
    margin: 32px 141px 43px 138px;
    padding: 0;

    &--form {
      margin: 62px 165px 68px 159px;
      border-bottom: none;
    }

    &--photo {
      margin: 65px 155px;
      padding: 0 16px;
    }
  }

  .main-title__text {
    font-size: 21px;

    &--form {
      font-size: 30px;
      margin-bottom: 35px;
    }

    &--photo {
      font-size: 30px;
      line-height: 26px;
      margin-bottom: 34px;
    }
  }

  .main-title__description {
    font-size: 14px;
    line-height: 24px;

    &--photo {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-title {
    padding: 0;
    margin: 42px 351px 43px 348px;

    &--form {
      margin: 111px 378px 31px 376px;
    }

    &--photo {
      margin: 99px 130px 59px 130px;
      padding: 0 242px 5px 242px;

      & span {
        white-space: nowrap;
      }
    }
  }

  .main-title__text {
    font-size: 21px;
    padding: 0;
    margin-bottom: 33px;

    &--photo {
      font-size: 30px;
    }

    &--form {
      font-size: 30px;
      margin-bottom: 33px;
    }
  }

  .main-title__description {
    padding: 0;
    margin: 0;
    margin-left: 2px;

    &--photo {
      margin-top: 8px;
      margin-left: 0;
    }
  }
}
