.modal {
  padding: 0;
  margin: 0;
}

.modal__failure {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 5;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 41px 42px 35px 41px;
  margin: 0;
}

.modal__failure-title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.modal__failure-description {
  font-size: 14px;
  line-height: 24px;
  color: $mineshaft;
  padding: 0;
  margin: 0;
}

.modal__failure-close {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: $white;
  background-color: $halfbaked;
  padding: 19px 78px 13px 78px;
  margin: 22px auto 0;
}

.modal__success {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 5;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 0;
  margin: 0;
}

.modal__success-title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 30px auto 26px;
}

.modal__success-description {
  font-size: 14px;
  line-height: 24px;
  color: $mineshaft;
  padding: 0 15px 24px;
  margin: 0 39px 21px 37px;

  & span {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
}

.modal__success-close {
  padding: 20px;
  margin: 0;
  background-color: $concrete;
  width: 100%;

  & a {
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: $white;
    background-color: $halfbaked;
    padding: 18px 76px 14px 76px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .modal__failure {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 35px 47px 49px 46px;
    margin: 0;
  }

  .modal__failure-title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 35px;
    margin-bottom: 26px;
  }

  .modal__failure-close {
    font-size: 21px;
    padding: 18.5px 123px 13.5px 121px;
    margin: 40px auto 0;
  }

  .modal__success {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: auto;
  }

  .modal__success-title {
    display: block;
    font-size: 30px;
    margin: 49px auto 26px;
  }

  .modal__success-description {
    padding: 0 15px 24px;
    margin: 0 39px 26px 37px;
  }

  .modal__success-close {
    padding: 44px 91px;

    & a {
      font-size: 21px;
      padding: 18.5px 155px 13.5px 154px;
    }
  }
}
