.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  margin: 0;
  box-sizing: border-box;
}

.page-header__logo {
  width: 102px;
  height: 84px;
}

.page-header__sedona {
  max-width: 100%;
  max-height: 214px;
}

.page-header__text-sedona {
  width: 229px;
  height: 39px;
  margin: 52px 67px auto;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    order: -1;
    width: 102px;
    height: 84px;
  }

  .page-header__intro {
    width: 460px;
    height: 350px;
  }

  .page-header__sedona {
    max-width: 461px;
    max-height: 350px;
  }

  .page-header__text-sedona {
    width: 457px;
    height: 78px;
    margin: 95px 117px auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    order: -1;
    width: 187px;
    height: 96px;
    margin: auto;
  }

  .page-header__intro {
    width: 460px;
    height: 350px;
  }

  .page-header__text-sedona {
    width: 460px;
    height: 80px;
    margin: 101px 120px auto;
  }
}
