.page-photo {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-photo__main-title {
  text-align: center;
  box-sizing: border-box;
  width: auto;
  padding: 0 12.5px 0 12.5px;
  margin: 32px 9px 31px 12px;
}

.page-photo__text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 28px;
}

.page-photo__description {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .page-photo {
    margin: 0;
    padding: 0;
  }

  .page-photo__main-title {
    margin: 65px 155px;
    padding: 0 16px;
  }

  .page-photo__text {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 34px;
  }

  .page-photo__description {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-photo__main-title {
    margin: 99px 130px 59px 130px;
    padding: 0 242px 5px 242px;

    & span {
      white-space: nowrap;
    }
  }

  .page-photo__description {
    margin-top: 8px;
  }
}
