.page-main {
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page-main__intro {
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 90px 0 80px 0;
  width: 100%;
  height: auto;
  background-color: $concrete;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 767px auto;
  }

  &::before {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7.9vw;
    width: 100vw;
    content: "";
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  &--form,
  &--photo {
    background-position: 50% 100%;
    background-size: auto;
    padding: 0 0 2px 0;
    height: 158px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 767px auto;
    }

    & img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 229px;
      height: 39px;
      display: block;
    }
  }
}

.page-main__text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 27px;
}

.page-main__description {
  line-height: 26px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-main__intro {
    position: relative;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    min-height: 155px;
    min-width: 528px;
    padding: 95px  0 28px 0;
    margin: 0;

    & img {
      width: 461px;
      height: 349.97px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--index {
      padding: 77px  0 85px 0;
    }

    &--form,
    &--photo {
      padding: 65px 0 223px 0;
      background-position: 50% 100%;

      & img {
        display: block;
        position: absolute;
        left: 50%;
        top: 95px;
        transform: translateX(-50%);
        width: 456.9px;
        height: 77.6px;
      }
    }

    &::before {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      height: 7.3vw;
      width: 100vw;
      content: "";
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      background-repeat: no-repeat;
      background-size: 100vw;
    }
  }

  .page-main__text {
    font-size: 21px;
  }

  .page-main__intro::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    padding: 0;
    margin: 0;
  }

  .page-main__intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    min-height: 155px;
    min-width: 1200px;
    margin: 0;

    & img {
      width: 459.5px;
      height: 349.97px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--photo,
    &--form {
      padding: 74px  0 228px 0;
      background-position: 50% 100%;

      & img {
        display: block;
        position: absolute;
        left: 50%;
        top: 101px;
        transform: translateX(-50%);
        width: 459.5px;
        height: 79.8px;
      }
    }

    &::before {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(15%);
      height: 67px;
      width: 100%;
      content: "";
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}
