@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --main: #81b3d2;
  --text-main: #000000;
  --text-accent: #ffffff;
  --list-main: #eeeeee;
  --description: #333333;
}

.page {
  font-family: "PTSans", "Tahoma", sans-serif;
  text-transform: uppercase;
}

.page__body{
  margin: 0 auto;
  padding: 0;
  background-color: var(--text-accent);
  max-width: 320px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
/*
.button {
  min-height: 58px;
  color: var(--text-accent);
  text-transform: uppercase;
  background-color: var(--main);

}
*/
