.page-main {
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: 0 6px auto;
  padding: 0 20px;
}

.page-main__intro {
  width: auto;
  padding: 26px 26px 13px;
  position: relative;
  margin: 0 auto;
}

.page-main__intro::after {
  content: url("/img/bg-triangle.svg");
  position: absolute;
  bottom: -36px;
  left: 0;
}

.page-main__text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 27px;
}

.page-main__description {
  line-height: 26px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-main__intro {
    min-width: 528px;
    padding: 34px 120px 37px;
  }

  .page-main__text {
    font-size: 21px;
  }

  .page-main__intro::after {
    display: none;
  }
}
