.page {
  height: 100%;
  font-family: "PTSans", "Tahoma", sans-serif;
  text-transform: uppercase;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.page__body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--text-accent);
  box-sizing: border-box;
  width: 100%;
}

.page__container {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page {
    width: 768px;
    margin: 0 auto;
  }

  .page__body {
    margin: 0 60px;
  }
}


@media (min-width: $desktop-width) {
  .page {
    width: 1200px;
    margin: 0 auto;
  }

  .page__body {
    margin: 0 120px;
  }
}
