.page-footer {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 26px;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.page-footer__social {
  text-align: center;
}
