.page-header {
  text-align: center;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: lightblue;
}
