.page-header {
  position: relative;
  padding-bottom: 56px;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    top: 0;
  }

  .page-header {
    padding: 0;
  }
}
