.page-footer {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 26px;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  width: max-content;
  margin: 0 auto;
}

.page-footer__social {
  text-align: center;
}

.page-footer__copyright {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .page-footer__social {
    margin: 0 auto;
  }

  .page-footer__hashtag {
    margin: 0 auto;
  }

  .page-footer__copyright {
    margin: 0 auto;
  }

  .page-footer {
    padding: 0;
  }
}
