.photo {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.photo__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.photo__item {
  padding: 22px 20px 0;
  margin: 0;
  border-top: 1px solid rgba($color: $mercury, $alpha: 1);

  &--bridge {
    border-bottom: 1px solid rgba($color: $mercury, $alpha: 1);
  }
}

.photo__info {
  padding: 0;
  margin: 0;
  margin-top: 11px;
  margin-bottom: 13px;
}

.photo__title {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 1px;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: initial;
  color: $mineshaft;
  padding: 0;
  margin: 0;
}

.photo__likes {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-left: 37px;
  margin-bottom: 15px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-like.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 0;
    left: 0;
    width: 23px;
    height: 21px;
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .photo__wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 12px 60px 0;
    margin: 0;
  }

  .photo__item {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;

    &--sunset {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &--roads {
      .photo__wrap {
        background-color: $gray2;
      }
    }
  }

  .photo__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $concrete;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .photo__info {
    padding: 15px 0 16px 20px;
    margin: 0;
  }

  .photo__author {
    padding: 0;
    margin: 0;
  }

  .photo__likes {
    margin: 0;
    width: 89px;

    &::before {
      top: 0;
      left: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    padding-top: 15px;
    margin: 0;
  }

  .photo__item {
    position: relative;

    &--sunset {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    &--roads {
      .photo__wrap {
        background-color: rgba($color: $black, $alpha: 0.3);
      }
    }
  }

  .photo__wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: 0.3);
  }

  .photo__info {
    color: $white;
  }

  .photo__author {
    color: $white;
  }

  .photo__likes {
    color: $white;

    &::before {
      top: 1px;
      left: 5px;
      background-image: url("../img/icon-like-desktop.svg");
      opacity: 100%;
    }
  }
}
