.presentation {
  display: block;
  padding: 0 15px;
  text-align: center;
  margin: 0 26px 33px 28px;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 29px;
}

.presentation__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: $mineshaft;
}

@media (min-width: $tablet-width) {
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 85px;
  }

  .presentation__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    margin: 0 160px;
  }

  .presentation-title {
    font-size: 30px;
  }
}
