.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--text-accent);
  background-color: var(--main);
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
