.site-video {
  margin-bottom: 0;
  padding-bottom: 0;
}

.site-video img {
  display: block;
  width: 100%;
  height: auto;
}

.site-video__controls {
  width: auto;
  margin: 3px 20px 0 21px;
}

.site-video__slider {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  height: 45px;
  width: 100%;
  margin: -49px 0 23px;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 24px;
    width: 83%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.site-video__toggle {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 58px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--text-accent);
  }
}

.site-video__buttons {
  position: absolute;
  transform: translateY(45px);
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background-color: $concrete;
}

.site-video__replay {
  border: none;
  background-color: transparent;
}

.site-video__replay svg {
  padding: 21px 15px 19px 19px;

  & path {
    fill: $shuttlegray;
  }

  &:hover path {
    fill: $mineshaft;
  }

  &:active path {
    opacity: 30%;
  }
}

.site-video__subtitles {
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.site-video__subtitles svg {
  padding: 22px 12px 18px 12px;

  & path {
    fill: $shuttlegray;
  }

  &:hover path {
    fill: $mineshaft;
  }

  &:active path {
    opacity: 30%;
  }
}

.site-video__fullscreen {
  border: none;
  background-color: transparent;
}

.site-video__fullscreen svg {
  padding: 22px 18px 18px 6px;

  & polygon {
    fill: $shuttlegray;
  }

  &:hover polygon {
    fill: $mineshaft;
  }

  &:active polygon {
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .site-video {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .site-video img {
    display: block;
    width: 100%;
    height: auto;
  }

  .site-video__controls {
    position: relative;
    bottom: 42px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .site-video__slider {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    height: 93px;
    width: 100%;
    align-self: center;
  }

  .site-video__slider::before {
    display: block;
    content: "";
    position: absolute;
    top: 45px;
    left: 93px;
    right: 165px;
    width: auto;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .site-video__toggle {
    position: relative;
  }

  .site-video__toggle::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 199px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $white;
  }

  .site-video__buttons {
    position: absolute;
    display: flex;
    transform: translate(26px, 12px);
    left: 0;
    justify-content: space-evenly;
    background-color: transparent;
  }

  .site-video__replay {
    border: none;
    margin-left: 35px;
    background-color: transparent;
    transform: translate(-52px, 2px);
  }

  .site-video__replay svg {
    & path {
      padding: 20px 17px;
      fill: $white;
    }

    &:hover path {
      fill: rgba($color: $white, $alpha: 0.6);
    }

    &:active path {
      fill: rgba($color: $white, $alpha: 0.3);
    }
  }

  .site-video__subtitles {
    border: none;
    background-color: transparent;
  }

  .site-video__subtitles svg {
    & path {
      padding: 20px 12px;
      fill: $white;
    }

    &:hover path {
      fill: rgba($color: $white, $alpha: 0.6);
    }

    &:active path {
      fill: rgba($color: $white, $alpha: 0.3);
    }
  }

  .site-video__fullscreen {
    border: none;
    background-color: transparent;
    margin-right: 41px;
  }

  .site-video__fullscreen svg {
    & polygon {
      padding: 20px 12px;
      fill: $white;
    }

    &:hover polygon {
      fill: rgba($color: $white, $alpha: 0.6);
    }

    &:active polygon {
      fill: rgba($color: $white, $alpha: 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .site-video img {
    width: 100%;
    height: auto;
  }

  .site-video__controls {
    position: relative;
    width: 100%;
    height: auto;
  }

  .site-video__slider {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    height: 93px;
    width: 100%;
  }

  .site-video__slider::before {
    content: "";
    position: absolute;
    top: 45px;
    left: 93px;
    right: 166px;
    width: auto;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .site-video__toggle {
    position: relative;
  }

  .site-video__toggle::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 204px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--text-accent);
  }

  .site-video__buttons {
    position: absolute;
    display: flex;
    left: 0;
    justify-content: space-evenly;
    background-color: transparent;
  }

  .site-video__replay {
    border: none;
    margin-left: 35px;
    background-color: transparent;
  }

  .site-video__replay path {
    padding: 20px 17px;
    fill: $white;
  }

  .site-video__subtitles {
    border: none;
    background-color: transparent;
  }

  .site-video__subtitles path {
    padding: 20px 12px;
    fill: $white;
  }

  .site-video__fullscreen {
    border: none;
    background-color: transparent;
    margin-right: 41px;
  }

  .site-video__fullscreen polygon {
    padding: 20px 12px;
    fill: $white;
  }
}
