.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
}

.site-list__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-accent);
  background-color: var(--main);
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .site-list {
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .site-list__link {
    color: $black;
    background-color: $white;
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 100%;
  }
}
