.site-video {
  padding: 0;
  margin: 0;
}

.site-video__video-poster {
  position: relative;
  padding: 0;
  margin: 0;

  & img {
    display: block;
    width: 100%;
    height: auto;
    background-color: $concrete;
  }
}

.site-video__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  margin: 0;
  width: 100%;
  height: auto;
}

.site-video__slider {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 45px;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: calc((22 / 280) * 100%);
    width: calc(100% - (44 / 280) * 100%);
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.site-video__volume-slider {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: calc((57.96 / 280) * 100%);
  width: 9.07px;
  height: 9.07px;
  border-radius: 50%;
  background-color: $white;
}

.site-video__buttons {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 23px 23px 21px 25px;
  background-color: $concrete;
}

.site-video__replay {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  & svg {
    & path {
      fill: $shuttlegray;
    }

    &:hover path {
      fill: $mineshaft;
    }

    &:active path {
      fill: rgba($color: $mineshaft, $alpha: 0.3);
    }
  }
}

.site-video__subtitles {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: auto;

  & svg {
    & path {
      fill: $shuttlegray;
    }

    &:hover path {
      fill: $mineshaft;
    }

    &:active path {
      fill: rgba($color: $mineshaft, $alpha: 0.3);
    }
  }
}

.site-video__fullscreen {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 31px;

  & svg {
    & polygon {
      fill: $shuttlegray;
    }

    &:hover polygon {
      fill: $mineshaft;
    }

    &:active polygon {
      fill: rgba($color: $mineshaft, $alpha: 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .site-video__controls {
    position: absolute;
    bottom: -1px;
    left: 0;
    padding: 0;
  }

  .site-video__slider {
    min-height: 93px;

    &::before {
      left: calc((93 / (768 - 120)) * 100%);
      width: calc((389 / (768 - 120)) * 100%);
      height: 3px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .site-video__volume-slider {
    left: calc((205.96 / (768 - 120)) * 100%);
  }

  .site-video__buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 35px 41px 34px 35px;
    background-color: transparent;
  }

  .site-video__replay {
    & svg {
      & path {
        fill: rgba($color: $white, $alpha: 1);
      }

      &:hover path {
        fill: rgba($color: $white, $alpha: 0.6);
      }

      &:active path {
        fill: rgba($color: $white, $alpha: 0.3);
      }
    }
  }

  .site-video__subtitles {
    & svg {
      & path {
        fill: $white;
      }

      &:hover path {
        fill: rgba($color: $white, $alpha: 0.6);
      }

      &:active path {
        fill: rgba($color: $white, $alpha: 0.3);
      }
    }
  }

  .site-video__fullscreen {
    margin-left: 31px;

    & svg {
      & polygon {
        fill: $white;
      }

      &:hover polygon {
        fill: rgba($color: $white, $alpha: 0.6);
      }

      &:active polygon {
        fill: rgba($color: $white, $alpha: 0.3);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-video__controls {
    bottom: 0;
  }

  .site-video__slider {
    &::before {
      left: calc((93 / (1200 - 400)) * 100%);
      width: calc((540 / (1200 - 400)) * 100%);
      height: 3px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .site-video__volume-slider {
    left: calc((205.96 / (1200 - 400)) * 100%);
  }

  .site-video__buttons {
    padding: 40px 42px 38px 35px;
  }
}
