.social {
  margin: 0;
  padding: 0;
}

.social__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $halfbaked;
  margin-left: 0;

  &:nth-child(2) {
    margin-left: 6px;
  }

  &:last-child {
    margin-left: 6px;
  }

  &:hover,
  &:focus {
    background-color: $fountainblue;
  }

  &:active {
    background-color: $steelblue;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;

  & path {
    fill: $white;
  }

  &:active path {
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 33px 1px 36px 0;
  }
}
