.video-presentation {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin-top: 32px;
}

.video-presentation__title {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .video-presentation {
    margin: 32px 59px 62px 61px;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation {
    margin: 8px 200px 65px 200px;
  }
}
