body {
  overflow-x: hidden;
}

:root {
  --main: #81b3d2;
  --text-main: #000000;
  --text-accent: #ffffff;
  --list-main: #eeeeee;
  --description: #333333;
  --special1: #e5e5e5;
  --input: #f2f2f2;
  --special2: #5c6870;
  --special3: #d6d6d6;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
